*{
    margin: 0;
    padding: 0;
    color: white;
    
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: #08244d;
    width: 100%;
    height: 130px;
}
.cuerpo{
    background-color: #5b6ea9;
    height: 100%;
    flex:1;
}

.Logo{
    position: absolute;
    left: 30px;
}

.Logo img {
    
    max-height: 100px;
}

.Barra_busq {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.Barra {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc; 
    width: 250px;
    border-radius: 8px; 
}

.Barra_busq button {
    padding: 6px 12px;
    border: none;
    background-color: #007bff; 
    color: white;
    border-radius: 4px; 
    cursor: pointer;
}

.Barra_busq button:hover {
    background-color: #0056b3; 
}
.Barra_nav{
    align-items: center;
    justify-content: space-between;
    
}
.nav_elementos{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #0056b3;
}

.nav_elementos li{
    margin-top: 10px;
    margin-left: 50px;
}
.nav_elementos a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    transition:backgroung 0.3s;
}

.nav_elementos a:hover{
    background-color: #1ebcfb;
    border-radius: 5px;
}

.carrito{
    display: flex;
    float: right;
    margin-left: 50%;
}

.btn_carrito{
    background-color: transparent;
    border-color: transparent;
    
}
.cont_carrito{
    border-radius: 100%;
    background-color: #11a689;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
}
.btn_carrito img:hover{
    background-color: #1ebcfb;
    border-radius: 5px;
    border-color: #1ebcfb;
}

.Carrusel_Base{
    width: 1280px;
    height: auto;
    margin: 45px auto 0;
    overflow: hidden;
    position: relative;
    
}

.Carrusel_Base ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.Carrusel_Base li{
    list-style: none;
    position: relative;
   

}
.Carrusel_Base img{
    width: 100%;

}
@keyframes slide{
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; } 

    75% { margin-left: -300%; }
    100% { margin-left: -300%; } 
    
}

.tabla_Marcas{
    border-collapse: collapse; 
    width: 90%;
    margin: 50px auto 0;
}
.tabla_Marcas tr, td{
    border: 1px solid black;
    padding: 90px;
    text-align: center;
}

.contenedor{
    display: flex;
}
.Menu_Lat{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 130px;
}
.filtros{
    margin-top: 60px;
    width: 100%;
    height: 300px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.filtros a{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    font-size: 25px;
}

.filtros a:hover{
    background-color: #1ebcfb;
}

.Marcas{
    margin-top: 60px;
    width: 100%;
    height: 300px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}
.Marcas a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
}

.Marcas a:hover{
    background-color: #1ebcfb;
}

.productos_cont{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    
}

.item{
    width: 310px;
    height: 350px;
    border: 1px solid black;
    text-align: center;
    line-height: 25px;
    margin: 10px;
    background-color: #464d70;
    box-shadow: 0 0 5px rgb(0, 0, 0,0.1);
    transition: 200ms;
}
.item:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 5px rgb(0, 0, 0,0.1);

}

.item img{
    margin-top: 5px;
    width: 90%;
    aspect-ratio: 1.5;
}
.item button:hover{
    background-color: #66bfe5;
}



.item button{
    background-color: #46a3d6 ;
    padding: 5px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    
}

.indice{
    width: 80%;
    margin-left: 30%;
    margin-top: 50px;
}
.indice ul{
    display: flex;

}
.indice li{
    list-style: none;
    font-size: 20px;
}
.indice h3{
    font-size: 20px;
    padding: 10px;
    margin-top: 13px;  
    
}

.indice button{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: white;
    color: black;
}

.indice button:hover{
    background-color: #1ebcfb;
}

.contenedor_desp{
    width: 700px;
    min-height: 100vh;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contenedor_desp details{
    background: color #efd2f4;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 12px;
    
}
.contenedor_desp details[open]{
    max-height: none;
    overflow: visible;
}

.contenedor_desp details >article{
    padding: 10px;
    max-height: 1520px;
    overflow-y: auto;
}

.contenedor_desp details summary{
    cursor: pointer;
    display: flex;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    gap: 16px;
    padding: 16px 24px;
    background-color: #1d3557;
    color: white;
    user-select: none;
}

.contenedor_desp details article{
    padding: 16px;
    line-height: 1.8;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor_desp details[Open] summary{
    background-color: #0b1a31;
}

.contenedor_desp  details[open] summary .icon{
    rotate: 180deg;
}
.section_ayuda h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;

}
.form_ayuda{
    height: 410px;
    width: 430px;
    border: 1px solid black;
    border-radius: 6px;
}
.pie_pag{
    width: 100%;
    height: 130px;
    background-color:  #102e62;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}
.Derechos{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
.Primer_div{
    display: flex;
    justify-content: space-between;
}

.productos_carrito{
    width: 500px;
    margin: auto;
}
.item_carrito{
display: flex;
gap: 20px;
align-items: center;
margin: 10px;
}
.item_carrito img{
height: 110px;
aspect-ratio: 1.5;
}
.item_carrito h3{
width: 110px;
font-family: 'Courier New', Courier, monospace;
}
.item_carrito div{
font-family: 'Courier New', Courier, monospace;
padding: 3px;
border-radius: 5px;
}

.item_carrito div button{
background-color: #1f9bf5;
width: 30px;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}
.total{
margin-top: 20px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}
.escondido{
    display: none;
  }